name: CI

on:
  push:
    branches:
      master
  pull_request:
    branches:
      master

jobs:
  ci:
    name: Build and run tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install libclang (Linux)
        if: contains(matrix.os, 'ubuntu')
        run: |
          sudo apt-get update
          sudo apt-get install llvm-dev libclang-dev clang
      - name: Install libclang (Windows)
        if: contains(matrix.os, 'windows')
        run: |
          choco install llvm
      - name: Build
        run: cargo build --workspace --examples
      - name: Run tests
        run: cargo test --workspace
