name: Docs

on:
  push:
    branches:
      master

jobs:
  docs:
    name: Generate and publish documentation
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install libclang
        run: |
          sudo apt-get update
          sudo apt-get install llvm-dev libclang-dev clang
      - name: Generate documentation
        run: cargo doc
      - name: Add index.html
        run: |
          echo '<meta charset="utf-8"><meta http-equiv="refresh" content="0; url=vst3">' > target/doc/index.html
      - name: Publish documentation
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: target/doc
