name: Docs

on:
  push:
    branches:
      master

env:
  VST3_SDK_DIR: ${{ github.workspace }}/vst3sdk

jobs:
  docs:
    name: Generate and publish documentation
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Check out VST3 SDK
        uses: actions/checkout@v3
        with:
          repository: coupler-rs/vst3_pluginterfaces
          ref: 31d6eeba6daaa3e2a8bfbe3e7a90ca0b7fbfbc1c
          path: vst3sdk/pluginterfaces
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
      - name: Install libclang
        run: |
          sudo apt-get update
          sudo apt-get install llvm-dev libclang-dev clang
      - name: Generate documentation
        run: cargo doc
      - name: Add index.html
        run: |
          echo '<meta charset="utf-8"><meta http-equiv="refresh" content="0; url=vst3">' > target/doc/index.html
      - name: Publish documentation
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: target/doc
